<nav class="navbar navbar-dark bg-dark nv">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">
      <img src="/assets/logo.jpg" alt="logo com texto" width="130" height="60">
    </a>
    <a class="navbar-brand" [routerLink]="'/drink'" > Drink</a>
    <a class="navbar-brand" [routerLink]="'/produtos'" >Produtos </a>
    
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav direita">
        <li *ngIf="!logon" class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true">Login</a>
        </li>
        <li *ngIf="logon" class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true" (click)="logout()"> Logout</a>
        </li>
        <li *ngIf="logon" class="nav-item">
          <a class="nav-link" [routerLink]="'/novo-produto'" (click)="isMenuCollapsed = true">Adição de produto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/cadastro'" (click)="isMenuCollapsed = true">Cadastro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/feedback'" (click)="isMenuCollapsed = true">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="logon" class="d-flex centro">
    <a [routerLink]="'/usuario'"> Olá {{usuarioLogado.nome}}</a>
  </div>
</nav>

