<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="">
      <img [src]="images[0]" >
    </div>
    <div class="carousel-caption">
      <h3>Conheça nossos drinks</h3>
      <p>Um brinde a vida</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" >
    </div>
    <div class="carousel-caption">
      <h3>Seja mais Souldrinks,</h3>
      <p>Experimente os sabores da vida</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]">
    </div>
    <div class="carousel-caption">
      <h3>Melhores</h3>
      <p>As melhores bebidas é na SoulDrink</p>
    </div>
  </ng-template>
</ngb-carousel>
<br>
<br>

<!-- cardGrid -->
  <div class="container">
    <div class="row">
      <div class="col-sm align-items-center" *ngFor="let item of cardGrid">
        <div class="card" style="width: 18rem;">
          <img [src]="item.imagem" class="card-img-top" alt="item.alt">
          <div class="card-body">
            <h1 class="card-title">{{item.nomeProduto}}</h1>
            <h3 class="card-text">{{item.descricao}}</h3>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<!-- Final do cardGrid -->