<br>
<h2 style="text-align: center; font-size: 22px">Dados Pessoais</h2>

<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="container">
    <div>
        <br>
        <label for="nome" class="form-label">* Nome Completo</label>
        <input formControlName="nome" id="nome" tipo="text" class="form-control" />
        <small class="text-danger" *ngIf="nome?.touched && nome?.invalid">
            <span *ngIf="nome?.hasError('required')">Campo obrigatório</span>
            <span *ngIf="nome?.hasError('minlength')">Mínimo de 5 caracteres</span>
        </small>
        <br>
    </div>
    <div class="">
        <label for="dataNasc" class="form-label">* Data de Nascimento</label>
        <input formControlName="dataNasc" id="dataNasc" class="form-control" type="text" mask="d0/M0/0000"
            [leadZeroDateTime]="true" />
        <!-- <input formControlName="dataNasc" id="dataNasc" tipo="date" class="form-control"/> -->
        <small class="text-danger" *ngIf="dataNasc?.touched && dataNasc?.invalid">
            <span *ngIf="dataNasc?.hasError('required')">Campo obrigatório</span>
        </small>
        <br>
    </div>
    <div class="">
        <label for="cpf" class="form-label">* CPF</label>
        <input formControlName="cpf" id="cpf" type="text" class="form-control" mask="000.000.000-99" />
        <small class="text-danger" *ngIf="cpf?.touched && cpf?.invalid">
            <span *ngIf="cpf?.hasError('required')">Campo obrigatório</span>
            <span *ngIf="cpf?.hasError('minlength')">Mínimo de 11 caracteres</span>
        </small>
        <br>
    </div>
    <div class="">
        <label for="celular" class="form-label">* Celular (WhatsApp)</label>
        <input formControlName="celular" id="celular" type="celular" prefix="+55" mask="00 00000 0000"
            class="form-control">
        <small class="text-danger" *ngIf="celular?.touched && celular?.invalid">
            <span *ngIf="celular?.hasError('required')">Campo obrigatório</span>
        </small>
        <br>
    </div>
    <div class="">
        <label for="email" class="form-label">* Email</label>
        <input formControlName="email" id="email" type="email" class="form-control">
        <small class="text-danger" *ngIf="email?.touched && email?.invalid">
            <span *ngIf="email?.hasError('required')">Campo obrigatório</span>
        </small>
        <br>
    </div>
    <div class="">
        <label for="senha" class="form-label">* Senha</label>
        <input formControlName="senha" id="senha" type="password" class="form-control" />
        <small class="text-danger" *ngIf="senha?.touched && senha?.invalid">
            <span *ngIf="senha?.hasError('required')">Campo obrigatório</span>
            <span *ngIf="senha?.hasError('minlength')">O mínimo são 8 caracteres</span>
        </small>
        <br>
    </div>
    <button class="btn btn-primary" [disabled]="cadastroForm.invalid">Cadastrar</button>
</form>

<br>
<div class="cadastro">
    <p><strong>Já é cadastrado? </strong></p>
    <p style="color: darkcyan"><strong>Faça seu login!</strong></p>
</div>
