<br>
<h2 style="text-align: center; font-size: 22px">Registre aqui o seu feedback!</h2>

<form [formGroup]="feedbackFormulario" (ngSubmit)="onSubmit()" class="container">
    <div class="mb-3">
      <br>
      <label for="nome" class="form-label">* Nome</label>
      <input formControlName="nome" type="text" class="form-control" />
      <small class="text-danger" *ngIf="nome?.touched && nome?.invalid">
        <span *ngIf="nome?.hasError('required')"> Campo obrigatório.</span>
        <span *ngIf="nome?.hasError('minlength')">O mínimo é 5 caracteres </span>
      </small>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">* Email</label>
      <input formControlName="email" type="text" class="form-control" />
      <small class="text-danger" *ngIf="email?.touched && email?.invalid">
        <span *ngIf="email?.hasError('required')">Campo obrigatório.</span>
        <span *ngIf="email?.hasError('email')">O email é invalido </span>
      </small>
    </div>
    <div class="mb-3">
      <label for="comentario" class="form-label">* Comentário</label>
      <textarea formControlName="comentario" class="form-control" id="comentario" rows="3"></textarea>
      <span *ngIf="comentario?.hasError('maxlength')"
        >Máximo de 50 caracteres
      </span>
    </div>
    <button class="btn btn-primary"  [disabled]="feedbackFormulario.invalid">Enviar Feedback</button>
  </form>
  
